{% extends 'base.html' %}
{% load static %}
{% block body %}
<h1>REGISTRATION</h1>
<div class="container reg_body">
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your Username"><br>
    <input type="text" name="first_name" placeholder="Enter your First name"><br>
    <input type="text" name="last_name" placeholder="Enter your Last name"><br>
    <input type="email" name="email" placeholder="Enter your Email id"><br>
    <input type="password" name="password" placeholder="Enter your Password"><br>
    <input type="password" name="password1" placeholder="Confirm Your Password"><br>
    <input type="text" name="bio" placeholder="Enter your Bio"><br>
    <input type="submit">
</form>
</div>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
{% endblock %}